<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/css/bootstrap.min.css" rel="stylesheet" >
      <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Biometric App</title>
  </head>
  <body>
   
   
   <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Biometric App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
         <li class="nav-item">
             <a class="nav-link text-white" href="import-export">Import /Export</a>
        </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="deduplication">Deduplication</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reports</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="reports">Deduplication Report</a></li>
                  <li><a class="dropdown-item" href="reports-others">Other Reports</a></li>
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="capturing">Capture Biometric</a>
          </li>
          <!--<li class="nav-item">
              <a class="nav-link text-white" href="replacement">Replacement</a>
          </li>-->
          <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NDR</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="generate_xml">Generate XML</a></li>
                  <li><a class="dropdown-item" href="generate_xml_file">Generate XML with a file</a></li>
                  <li><a class="dropdown-item" href="download_xml">Download XML</a></li>
              </ul>
          </li>
      </ul>
      <div>
          <span class="navbar-text text-white">
              Version: 1.0.5
          </span>
      		 <!--<a class="nav-link text-white" href="book_register">New Book Register</a>-->
      </div>
    </div>
  </div>
</nav>

   <div class="container text-center mt-5 w-50">

       <h1>BIOMETRIC CAPTURING</h1>
       <!--<h6> This will aid you capture client fingerprints for backup purpose, you will be able to have backup fingerprints template sets.
       </h6>-->

       <div id="inProcess" class="alert alert-info" role="alert" style="display: none;">
           <label>Please place your finger on the scanner</label>
       </div>

       <div id="bbSuccess" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
           <label > Done saving record</label>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>

       <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
           <label th:text="${errorMessage}"></label>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>

       <div class="row input-group">
           <label class="col-11">
               <input id="search" aria-describedby="button-search" type="search" placeholder="Search using hospital number or unique id" class="form-control">
           </label>
           <div class="input-group-append col-1">
               <button id="button-search" type="submit" class="btn btn-outline-primary">Search</button>
           </div>
       </div>
       <div class="row row text-center mt-5 m-auto">
           <table class="table table-striped mt-3" id="searchResult"></table>
           <div id="searchResultDetails">

           </div>
       </div>

       <div id="displayLevel"></div>
       <div id="capture" class="row row text-center mt-5 w-auto m-auto" style="display: none">
           <div class="row">
               <div class="col-4">
                   <select id="devices"  name="devices" class="form-select form-select-lg mb-3" aria-label="Large select example">
                       <option value="">Select Scanner</option>
                       <!-- Loop through facilities and populate options -->
                       <option th:each="device : ${devices}"
                               th:value="${device['deviceName']}"
                               th:text="${device['deviceName']}"></option>
                   </select>
               </div>
               <div class="col-4">
                   <select id="templateType"  name="templateType" class="form-select form-select-lg mb-3" aria-label="Large select example">
                       <option selected>Select Finger</option>
                       <option value="Left Thumb Finger">Left Thumb Finger</option>
                       <option value="Left Index Finger">Left Index Finger</option>
                       <option value="Left Middle Finger">Left Middle Finger</option>
                       <option value="Left Ring Finger">Left Ring Finger</option>
                       <option value="Left Little Finger">Left Little Finger</option>
                       <option value="Right Thumb Finger">Right Thumb Finger</option>
                       <option value="Right Index Finger">Right Index Finger</option>
                       <option value="Right Middle Finger">Right Middle Finger</option>
                       <option value="Right Ring Finger">Right Ring Finger</option>
                       <option value="Right Little Finger">Right Little Finger</option>
                   </select>
               </div>
               <div class="col-4">
                   <button id = "captureButton" type="button" class="btn btn-primary" disabled>Capture</button>
               </div>
           </div>

       </div>

       <div id="containerH" class="container" style="display: none">

       </div>

       <div class="row" >
           <button style="display: none" id = "saveButton" type="button" class="btn btn-primary" >Save</button>
       </div>

   </div>

   <script type="text/javascript">
       document.getElementById("devices").addEventListener("change", toggleSubmitButton);
       document.getElementById("templateType").addEventListener("change", toggleSubmitButton);

       function toggleSubmitButton() {
           const devices = document.getElementById("devices").value;
           const templateType = document.getElementById("templateType").value;
           const captureButton = document.getElementById("captureButton");

           captureButton.disabled = !((devices !== 'Select Report Level' && devices) && (templateType !== 'Select Finger' && templateType));
       }
   </script>

   <script src="/js/bootstrap.bundle.min.js" ></script>
   <script src="/js/jquery-3.7.1.min.js" ></script>

   <script>
       let capturedBiometricDtoList = [];
       let patient = {};

       $(document).ready(function() {

           $("#saveButton").click(function() {
               document.getElementById("bbSuccess").style.display = "none";
               $('#saveButton').attr('disabled','disabled');
               $.ajax({
                   type: "POST",
                   url: "/api/v1/biometric/save-capture?personUuid=" + patient['uuid'],
                   contentType: 'application/json',
                   data: JSON.stringify(capturedBiometricDtoList),
                   success: function(response) {
                       capturedBiometricDtoList = [];
                       document.getElementById("saveButton").style.display = "none";
                       document.getElementById("bbSuccess").style.display = "block";
                       $('#templateType').html('' +
                           '<option selected>Select Finger</option>\n' +
                           '                       <option value="Left Thumb Finger">Left Thumb Finger</option>\n' +
                           '                       <option value="Left Index Finger">Left Index Finger</option>\n' +
                           '                       <option value="Left Middle Finger">Left Middle Finger</option>\n' +
                           '                       <option value="Left Ring Finger">Left Ring Finger</option>\n' +
                           '                       <option value="Left Little Finger">Left Little Finger</option>\n' +
                           '                       <option value="Right Thumb Finger">Right Thumb Finger</option>\n' +
                           '                       <option value="Right Index Finger">Right Index Finger</option>\n' +
                           '                       <option value="Right Middle Finger">Right Middle Finger</option>\n' +
                           '                       <option value="Right Ring Finger">Right Ring Finger</option>\n' +
                           '                       <option value="Right Little Finger">Right Little Finger</option>');
                       document.getElementById("containerH").style.display = "none";
                       getBackupLevel(patient['uuid'])

                        console.log(response)
                   },
                   error: function(xhr, status, error) {
                       $('#saveButton').attr('enabled','enabled');
                       document.getElementById("containerH").style.display = "none";
                       document.getElementById("capture").style.display = "none";
                   }
               });
           })

           $("#button-search").click(function() {
               const search = $("#search").val();
               document.getElementById("containerH").style.display = "none";
               document.getElementById("capture").style.display = "none";
               $.ajax({
                   type: "GET",
                   url: "/api/v1/biometric/patient?search=" + search,
                   success: function(response) {
                       document.getElementById("searchResult").style.display = "block";
                       console.log("Response is ********* {}", response)
                       createTable(response, 'searchResult')

                       document.getElementById("containerH").style.display = "block";
                       document.getElementById("capture").style.display = "block";
                   },
                   error: function(xhr, status, error) {
                       document.getElementById("containerH").style.display = "none";
                       document.getElementById("capture").style.display = "none";
                   }
               });
           })

           $("#captureButton").click(function() {
               document.getElementById("inProcess").style.display = "block";
               $('#captureButton').attr('disabled','disabled');
               const templateType = $("#templateType").val(); // Replace with the actual facilityId
               const devices = $("#devices").val();// Replace with the actual recaptureType
               // console.log("Template type is ****** ", devices)
               $.ajax({
                   type: "POST",
                   url: "/api/v1/biometric/capture?fingerType=" + templateType + "&reader=" + devices,
                   contentType: 'application/json',
                   data: JSON.stringify(capturedBiometricDtoList),
                   success: function(response) {
                       document.getElementById("inProcess").style.display = "none";
                       capturedBiometricDtoList = response
                       if (capturedBiometricDtoList.length > 5){
                           document.getElementById("saveButton").style.display = "block";
                       }else {
                           document.getElementById("saveButton").style.display = "none";
                       }
                       $('#submitButton').attr('enabled','enabled');
                       $('#templateType option[value="' + templateType + '"]').remove();
                       const holder = $('<div id="fingerDisplay" class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-1"></div>')
                       $.each(capturedBiometricDtoList, function(index, item) {
                           const fingerCard = $('<div className="col p-2 border bg-dark"></div>');
                           const image = $('<div className="row"><img style="height: 200px; width: 150px;" src="' + item['base64Image'] + '" alt="Image"></div>');
                           const text = $('<div className="row"><label>' + item['templateType'] + '</label></div>');
                           const text2 = $('<div className="row"><label>Quality:&nbsp;' + item['imageQuality'] + '</label></div>');
                           fingerCard.append(image).append(text).append(text2)
                           holder.append(fingerCard);
                       })
                       $('#containerH').html(holder);
                   },
                   error: function(xhr, status, error) {
                        $('#submitButton').attr('enabled','enabled');
                       document.getElementById("inProcess").style.display = "none";
                       console.error(xhr.responseText);
                       alert("Error occurred while generating biometric details.");
                   }
               });
           });
       });

       function getBackupLevel (peronUuid) {
           $.ajax({
               type: "GET",
               url: "/api/v1/biometric/backup-level?personUuid=" + peronUuid,
               success: function(response) {
                   const level = $('<h3 >' + response +'</h3>');
                   $('#displayLevel').html(level);
               },
               error: function(xhr, status, error) {
                   console.log("Error getting backup level")
               }
           });
       }

       function createTable(data, id) {
           // Get the table element
           var table = document.getElementById(id);

           // Clear existing table rows
           table.innerHTML = '';

           // Create table header
           var headerRow = table.insertRow();
           var headers = Object.keys(data[0]);
           headers.forEach(function(header) {
               var th = document.createElement('th');
               th.textContent = formatHeader(header);
               headerRow.appendChild(th);
           });
           // Add an additional column for the action buttons
           var actionHeader = document.createElement('th');
           actionHeader.textContent = 'Action';
           headerRow.appendChild(actionHeader);

           // Create table rows
           data.forEach(function(item) {
               var row = table.insertRow();
               headers.forEach(function(header) {
                   var cell = row.insertCell();
                   cell.textContent = item[header];
               });

               // Create action button
               var actionCell = row.insertCell();
               var button = document.createElement('button');
               button.textContent = 'Set';
               button.addEventListener('click', function() {
                   // Perform action here
                   patient = item
                   const holder = $('<div id="patientHolder" class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-1"></div>')
                   const name = $('<div className="col p-1 border bg-dark"> Name:&nbsp; '+patient['surname'] +'&nbsp;' + patient['firstName']+'</div>');
                   const gender = $('<div className="col p-1 border bg-dark"> Gender:&nbsp; '+patient['sex'] +'</div>');
                   const dateOfBirth = $('<div className="col p-1 border bg-dark"> Date of Birth:&nbsp; '+patient['dateOfBirth'] +'</div>');
                   const artStartDate = $('<div className="col p-1 border bg-dark"> ART Start Date:&nbsp; '+patient['dateStarted'] +'</div>');
                   holder.append(name).append(gender).append(dateOfBirth).append(artStartDate)
                   $('#searchResultDetails').html(holder);
                   document.getElementById("searchResultDetails").style.display = "block";
                   document.getElementById("searchResult").style.display = "none";
                   getBackupLevel(patient['uuid']);
               });
               actionCell.appendChild(button);
           });
       }

       function formatHeader(header) {
           return header.replace(/([A-Z])/g, ' $1')
               .replace(/^./, function(str) { return str.toUpperCase(); });
       }

   </script>
    
  </body>
</html>