<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <title>Biometric App</title>
  </head>
  <body>
   
   
   <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Biometric App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
         <li class="nav-item">
             <a class="nav-link text-white" href="import-export">Import /Export</a>
        </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="deduplication">Deduplication</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reports</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="reports">Deduplication Report</a></li>
                  <li><a class="dropdown-item" href="reports-others">Other Reports</a></li>
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="capturing">Capture Biometric</a>
          </li>
          <!--<li class="nav-item">
              <a class="nav-link text-white" href="replacement">Replacement</a>
          </li>-->
          <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NDR</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="generate_xml">Generate XML</a></li>
                  <li><a class="dropdown-item" href="generate_xml_file">Generate XML with a file</a></li>
                  <li><a class="dropdown-item" href="download_xml">Download XML</a></li>
              </ul>
          </li>
      </ul>
      <div>
          <span class="navbar-text text-white">
              Version: 1.0.5
          </span>
      		 <!--<a class="nav-link text-white" href="book_register">New Book Register</a>-->
      </div>
    </div>
  </div>
</nav>

   <div class="container text-center mt-5 w-50">

       <h1>CLIENT DEDUPLICATION SERVICES</h1>
       <h6> Please kind select the type of deduplication you want to perform from the dropdown below
       </h6>

       <div id="inProcess" class="alert alert-info" role="alert" style="display: none;">
           <label>Deduplication in process ... </label>
       </div>

       <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
           <label th:text="${successMessage}"></label>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>

       <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
           <label th:text="${errorMessage}"></label>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>

       <div class="row row text-center mt-5 w-50 m-auto">
           <form method="get" th:action="@{/run-deduplication}" class="mt-5 row align-items-center">
               <div class="mb-3">
                   <div class="col mb-3 row">
                       <div class="col">
                           <label><b>Start:</b></label>
                           <label for="start">
                               <input name="startDate" style="width: 100%" id="start" placeholder="Start" type="date">
                           </label>
                       </div>
                       <div class="col">
                           <label><b>End:</b></label>
                           <label for="end">
                               <input name="endDate" style="width: 100%" id="end" placeholder="End" type="date">
                           </label>
                       </div>
                   </div>
                   <div class="col">
                       <select name="deduplicationType" class="form-select form-select-lg mb-3" aria-label="Large select example">
                           <option selected>Choose Deduplication Type</option>

                           <option value="RECAPTURE_ONE_AND_BASELINE">Recapture One</option>
                           <option value="RECAPTURE_TWO_AND_ONE">Recapture Two</option>
                           <option value="RECAPTURE_THREE_AND_TWO">Recapture Three</option>
                           <option value="RECAPTURE_FOUR">Recapture Four</option>
                           <option value="RECAPTURE_FIVE">Recapture Five</option>
                           <option value="RECAPTURE_SIX">Recapture Six</option>
                           <option value="RECAPTURE_SEVEN">Recapture Seven</option>
                           <option value="RECAPTURE_EIGHT">Recapture Eight</option>
                           <option value="RECAPTURE_NINE">Recapture Nine</option>
                           <option value="RECAPTURE_TEN">Recapture Ten</option>
                           <!--<option value="RECAPTURE_ONE_DUPLICATE_CHECK">Recapture One Duplicate Check</option>
                           <option value="RECAPTURE_TWO_DUPLICATE_CHECK">Recapture Two Duplicate Check</option>
                           <option value="RECAPTURE_THREE_DUPLICATE_CHECK">Recapture Three Duplicate Check</option>-->
                       </select>
                   </div>
               </div>
               <div class="mb-3">
                   <div class="col">
                       <button th:onclick="showWaitMessage()" type="submit" class="btn btn-primary">Run Deduplication</button>
                   </div>
               </div>
           </form>
       </div>

   </div>

   <script type="text/javascript">
       function showWaitMessage() {
           document.getElementById("inProcess").style.display = "block";
       }
   </script>

   <script src="/js/bootstrap.bundle.min.js" ></script>
    
  </body>
</html>