<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
      <link rel = "stylesheet" href = "/css/fontawesome.min.css">
      <link href="/css/custom.scss" rel="stylesheet" >
    <title>Biometric App</title>
  </head>
  <body>
   
   
   <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Biometric App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="import-export">Import /Export</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="deduplication">Deduplication</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="reports">Reports</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="capturing">Capture Biometric</a>
          </li>
          <!--<li class="nav-item">
              <a class="nav-link text-white" href="replacement">Replacement</a>
          </li>-->
          <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NDR</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="generate_xml">Generate XML</a></li>
                  <li><a class="dropdown-item" href="download_xml">Download XML</a></li>
              </ul>
          </li>
      </ul>
      <div>
          <span class="navbar-text text-white">
              Version: 1.0.3
          </span>
      		 <!--<a class="nav-link text-white" href="book_register">New Book Register</a>-->
      </div>
    </div>
  </div>
</nav>

   <div class="container text-center my-5">
   		<h1>WELCOME BIOMETRIC APPLICATION</h1>
   		<h6 class="red">This application will help you run fingerprint deduplication and as well
            enable you upload your client NDR recapture status
   		</h6>

       <div class="row input-group">
           <label class="col-11">
               <input id="search" aria-describedby="button-search" type="search" placeholder="Search using hospital number or unique id" class="form-control">
           </label>
           <div class="input-group-append col-1">
               <button id="button-search" type="submit" class="btn btn-outline-primary">Search</button>
           </div>
       </div>

       <div class="row row text-center mt-5 m-auto">
           <table class="table table-striped mt-3" id="searchResult"></table>
           <div id="searchResultDetails">

           </div>
       </div>

       <div id="inProcess" class="alert alert-info mt-2" role="alert" style="display: none;">
           <label>Please place your finger on the scanner</label>
       </div>

       <div id="successNotFound" class="alert alert-success alert-dismissible fade show mt-2" role="alert" style="display: none;">
           <label > Could not match this fingerprint to any of the client existing set of fingerprints</label>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>

       <div class="row mt-5 container" id="containerH" style="display: none">
           <div class="col-4 m-auto">
               <div class="">
                   <select id="devices"  name="devices" class="form-select form-select-lg mb-3" aria-label="Large select example">
                       <option value="">Select Scanner</option>
                       <!-- Loop through facilities and populate options -->
                       <option th:each="device : ${devices}"
                               th:value="${device['deviceName']}"
                               th:text="${device['deviceName']}"></option>
                   </select>
               </div>
               <div class="col-12">
                   <div class="col">
                       <button id="verify" type="button" class="btn btn-primary">Verify</button>
                   </div>
               </div>
           </div>

           <table class="col-7 table table-striped mt-3" id="table"></table>

       </div>
   </div>
   
   
   <script src="/js/bootstrap.bundle.min.js" ></script>
   <script src="/js/jquery-3.7.1.min.js" ></script>

   <script>
       let patient = {}
       $(document).ready(function() {
           $("#button-search").click(function() {
               document.getElementById("searchResult").style.display = "none";
               const search = $("#search").val();
               document.getElementById("containerH").style.display = "none";
               /*document.getElementById("capture").style.display = "none";*/
               $.ajax({
                   type: "GET",
                   url: "/api/v1/biometric/patient?search=" + search,
                   success: function(response) {
                       document.getElementById("searchResult").style.display = "block";
                       console.log("Response is ********* {}", response)
                       createTable(response, 'searchResult')

                       document.getElementById("containerH").style.display = "block";
                       /*document.getElementById("capture").style.display = "block";*/
                   },
                   error: function(xhr, status, error) {
                       document.getElementById("containerH").style.display = "none";
                       /*document.getElementById("capture").style.display = "none";*/
                   }
               });
           });

           $("#verify").click(function() {
               const device = $("#devices").val();
               $('#verify').attr('disabled','disabled');
               document.getElementById("successNotFound").style.display = "none";
               document.getElementById("inProcess").style.display = "block";
               const url = "/api/v1/biometric/verification?recaptureType=all&personUuid=" + patient['uuid'] + "&reader=" +device
               console.log(url)
               $.ajax({
                   type: "GET",
                   url: url,
                   success: function(response) {
                       console.log(response)
                       $('#verify').removeAttr('disabled');
                       document.getElementById("inProcess").style.display = "none";
                       if(response['type'] === 'SUCCESS_NOT_FOUND'){
                           document.getElementById("successNotFound").style.display = "block";

                       } else {
                           createTable(response['matches'], 'table')
                       }
                   },
                   error: function(xhr, status, error) {
                       $('#verify').removeAttr('disabled');
                       document.getElementById("successNotFound").style.display = "none";
                       document.getElementById("inProcess").style.display = "none";
                   }
               });
           });
       })

       function createTable(data, id) {
           // Get the table element
           var table = document.getElementById(id);

           // Clear existing table rows
           table.innerHTML = '';

           // Create table header
           var headerRow = table.insertRow();
           var headers = Object.keys(data[0]);
           headers.forEach(function(header) {
               var th = document.createElement('th');
               th.textContent = formatHeader(header);
               headerRow.appendChild(th);
           });
           // Add an additional column for the action buttons
           var actionHeader = document.createElement('th');
           actionHeader.textContent = 'Action';
           headerRow.appendChild(actionHeader);

           // Create table rows
           data.forEach(function(item) {
               var row = table.insertRow();
               headers.forEach(function(header) {
                   var cell = row.insertCell();
                   cell.textContent = item[header];
               });

               // Create action button
               var actionCell = row.insertCell();
               var button = document.createElement('button');
               button.textContent = 'Verify';
               button.addEventListener('click', function() {
                   // Perform action here
                   patient = item
                   const holder = $('<div id="patientHolder" class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-1"></div>')
                   const name = $('<div className="col p-1 border bg-dark"> Name:&nbsp; '+patient['surname'] +'&nbsp;' + patient['firstName']+'</div>');
                   const gender = $('<div className="col p-1 border bg-dark"> Gender:&nbsp; '+patient['sex'] +'</div>');
                   const dateOfBirth = $('<div className="col p-1 border bg-dark"> Date of Birth:&nbsp; '+patient['dateOfBirth'] +'</div>');
                   const artStartDate = $('<div className="col p-1 border bg-dark"> ART Start Date:&nbsp; '+patient['dateStarted'] +'</div>');
                   holder.append(name).append(gender).append(dateOfBirth).append(artStartDate)
                   $('#searchResultDetails').html(holder);
                   document.getElementById("searchResultDetails").style.display = "block";
                   document.getElementById("searchResult").style.display = "none";
               });
               actionCell.appendChild(button);
           });
       }

       function formatHeader(header) {
           return header.replace(/([A-Z])/g, ' $1')
               .replace(/^./, function(str) { return str.toUpperCase(); });
       }

   </script>

  </body>
</html>