<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <title>Biometric App</title>
  </head>
  <body>
   
   
   <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Biometric App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="import-export">Import /Export</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="deduplication">Deduplication</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reports</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="reports">Deduplication Report</a></li>
                  <li><a class="dropdown-item" href="reports-others">Other Reports</a></li>
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="capturing">Capture Biometric</a>
          </li>
          <!--<li class="nav-item">
              <a class="nav-link text-white" href="replacement">Replacement</a>
          </li>-->
          <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NDR</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="generate_xml">Generate XML</a></li>
                  <li><a class="dropdown-item" href="generate_xml_file">Generate XML with a file</a></li>
                  <li><a class="dropdown-item" href="download_xml">Download XML</a></li>
              </ul>
          </li>
      </ul>
      <div>
          <span class="navbar-text text-white">
              Version: 1.0.5
          </span>
      		 <!--<a class="nav-link text-white" href="book_register">New Book Register</a>-->
      </div>
    </div>
  </div>
</nav>

   <div class="container text-center my-5">
   		<h1>IMPORT / EXPORT</h1>
   		<h6> This will enable you upload client NDR recapture Status
   		</h6>

       <div id="inProcess" class="alert alert-info" role="alert" style="display: none;">
           <label>File upload in process ... </label>
       </div>

       <div id="inProcessExport" class="alert alert-info" role="alert" style="display: none;">
           <label>File export in process ... </label>
       </div>

       <div style="display: none;" id="successExport" class="alert alert-success alert-dismissible fade show" role="alert">
           <label >File export completed</label>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>

       <div id="inProcessImport" class="alert alert-info" role="alert" style="display: none;">
           <label>File import in process ... </label>
       </div>


       <div style="display: none;" id="successImport" class="alert alert-success alert-dismissible fade show" role="alert">
           <label >File import completed</label>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>

       <div id="inProcessRecapture" class="alert alert-info" role="alert" style="display: none;">
           <label>Upload of recapture status in process ... </label>
       </div>


       <div style="display: none;" id="successRecapture" class="alert alert-success alert-dismissible fade show" role="alert">
           <label> Recapture status upload completed </label>
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>

       <div class="row row text-center mt-5 w-50 m-auto">
           <div class="mb-3">
               <div class="col">
                   <input name="file" class="form-control form-control-lg" id="file" type="file">
               </div>
               <div class="col mt-3" >
                   <input id="fileName" class="form-control" type="text" placeholder="Enter file name" aria-label="default input example">
               </div>
           </div>
           <div class="mb-3 col row">
               <div class="col">
                   <button id="recaptureStatus" type="button" class="btn btn-primary">Recapture Status</button>
               </div>
               <div class="col">
                   <button id="export" type="button" class="btn btn-outline-info">Export</button>
               </div>
               <div class="col">
                   <button id="import" type="button" class="btn btn-outline-primary">Import</button>
               </div>
           </div>
       </div>

   </div>

   <script src="/js/bootstrap.bundle.min.js" ></script>
   <script src="/js/jquery-3.7.1.min.js" ></script>

   <script type="text/javascript">
       $(document).ready(function() {
           $('#export').click(function() {
               const fileName = $('#fileName').val()
               if(fileName) {
                   download(fileName)
               }else {
                   alert("File name is blank")
               }
           })

           $('#recaptureStatus').click(function() {
               if($('#file').val()) {
                   document.getElementById("inProcessRecapture").style.display = "block";
                   document.getElementById("recaptureStatus").disabled = true
                   // Get the file input element
                   var fileInput = document.getElementById('file');
                   // Get the file object
                   var file = fileInput.files[0];
                   // Create a FormData object
                   var formData = new FormData();
                   // Append the file to the FormData object
                   formData.append('file', file);
                   // Send the file to the server using AJAX
                   $.ajax({
                       url: '/api/v1/biometric/recapture-status', // Your server-side endpoint
                       type: 'POST',
                       data: formData,
                       processData: false, // Prevent jQuery from processing the data
                       contentType: false, // Set content type to false to prevent jQuery from setting Content-Type
                       success: function(response) {
                           document.getElementById("recaptureStatus").disabled = false;
                           document.getElementById("inProcessRecapture").style.display = "none";
                           document.getElementById("successRecapture").style.display = "block";
                           $('#file').val("");
                           // Handle successful upload
                           console.log(response);
                       },
                       error: function(xhr, status, error) {
                           document.getElementById("inProcessRecapture").style.display = "none";
                           $('#uploadTemplate').attr('enabled','enabled');
                           // Handle upload error
                           console.error('Upload failed:', error);
                       },
                       xhr: function() {
                           // Create custom XHR to track upload progress
                           var xhr = $.ajaxSettings.xhr();
                           xhr.upload.onprogress = function(event) {
                               var percentComplete = (event.loaded / event.total) * 100;
                               console.log('Upload progress: ' + percentComplete.toFixed(2) + '%');
                           };
                           return xhr;
                       }
                   });
               }else {
                   alert('No file selected ')
               }
           });

           $('#import').click(function() {
               if($('#file').val()) {
                   document.getElementById("inProcessImport").style.display = "block";
                   document.getElementById("import").disabled = true
                   // Get the file input element
                   var fileInput = document.getElementById('file');
                   // Get the file object
                   var file = fileInput.files[0];
                   // Create a FormData object
                   var formData = new FormData();
                   // Append the file to the FormData object
                   formData.append('file', file);
                   // Send the file to the server using AJAX
                   $.ajax({
                       url: '/api/v1/biometric/ingest-files', // Your server-side endpoint
                       type: 'POST',
                       data: formData,
                       processData: false, // Prevent jQuery from processing the data
                       contentType: false, // Set content type to false to prevent jQuery from setting Content-Type
                       success: function(response) {
                           document.getElementById("import").disabled = false;
                           document.getElementById("inProcessImport").style.display = "none";
                           document.getElementById("successImport").style.display = "block";
                           $('#file').val("");
                           // Handle successful upload
                           console.log(response);
                       },
                       error: function(xhr, status, error) {
                           document.getElementById("inProcess").style.display = "none";
                           $('#uploadTemplate').attr('enabled','enabled');
                           // Handle upload error
                           console.error('Upload failed:', error);
                       },
                       xhr: function() {
                           // Create custom XHR to track upload progress
                           var xhr = $.ajaxSettings.xhr();
                           xhr.upload.onprogress = function(event) {
                               var percentComplete = (event.loaded / event.total) * 100;
                               console.log('Upload progress: ' + percentComplete.toFixed(2) + '%');
                           };
                           return xhr;
                       }
                   });
               }else {
                   alert('No file selected ')
               }
           });
       })

       function download(filename) {
           document.getElementById("inProcessExport").style.display = "block";
           var fileInput = document.getElementById('file');
           var file = fileInput.files[0]
           var formData = new FormData();

           formData.append('file', file);
           const xhr = new XMLHttpRequest();
           xhr.open("GET", "/api/v1/biometric/export-file/" + filename, true);

           xhr.onload = function() {
               if (this.status === 200) {
                   document.getElementById("inProcessExport").style.display = "none";
                   document.getElementById("successExport").style.display = "block";
                   const blob = new Blob([xhr.response], {type: "application/octet-stream"});
                   const url = window.URL.createObjectURL(blob);
                   const a = document.createElement("a");
                   a.href = url;
                   a.download = filename + '.json';
                   document.body.appendChild(a);
                   a.click();
                   window.URL.revokeObjectURL(url);
                   document.body.removeChild(a);
               } else {
                   document.getElementById("inProcessExport").style.display = "none";
                   console.error("Failed to download file");document.getElementById("inProcessDownload").style.display = "none";
               }
           };

           xhr.send(formData);
       }
   </script>

  </body>
</html>